body{
font-family:Arial;
text-align:center;
margin:0;
background:#f5f5f5;
}

.hero{
background-image:url("https://images.unsplash.com/photo-1542838132-92c53300491e");
background-size:cover;
background-position:center;
color:white;
padding:80px;
text-align:center;
}

.buttons button{
margin:10px;
padding:10px 15px;
border:none;
background:white;
border-radius:8px;
}

.scan-btn{
padding:12px 25px;
font-size:16px;
background:#1f3b63;
color:white;
border:none;
border-radius:20px;
margin:20px;
}

#reader{
width:320px;
margin:auto;
}

#result{
margin-top:20px;
font-size:18px;
}